	

<!-- button to refresh the word (currently not able to search a new word) -->
<div id="searchcontainer">
	<div id="searchbox">
		<p>CHOOSE YOUR WORD: </p>

	</div>
	<div class="moveover">
	<a href='awesome'class="btn">RANK IT!</a>
	</div>
</div>


<!-- html to display returned awesome links when button is pressed -->

<div id="resultscontainer">
	<div id="toplink">
		<p>AND WITH <%- topAwesomeLinkNumTweets %> TWEETS, THE WINNER IS...</p>
		<p id="linkurltop"><%- topAwesomeLink %></p>
	</div>
	<div id="linkurlothers">
		<%- awesomeLinks %>
	</div>
</div>

 	