	
<!-- html to display returned links when button is pressed -->

<div id="resultscontainer">
	<div id="toplink">
		<p>AND WITH <%- topAwesomeLinkNumTweets %> TWEETS, THE WINNER IS...</p>
		<p id="linkurltop"><%- topAwesomeLink %></p>
	</div>
	<div id="linkurlothers">
		<%- awesomeLinks %>
	</div>
</div>

 	