<div id="searchcontainer">

	<div id="searchbox">
		<p>WHAT'S THE MOST AWESOME LINK IN THE TWITTERVERSE?</p>
	</div>

	<div class="moveover">
		<a href='word/awesome' class="btn">RANK 'EM!</a>
	</div>
	
</div>