<!DOCTYPE html>


<!--
  layout is equivalent to a master page
-->

<html>
	<head>
		<title>Rank-O-Matic!</title>
		<link href='/stylesheets/style.css' rel="stylesheet">

	</head>
	
	<body>
		<!-- <div id="container"> -->
			
			<div id="redcontainer">
				<div id="logo">
					<img src='/images/rankomaticlogofinal.png' height="150">
				</div>
				
				<div id="topcontainer">
					<div id="searchcontainer">
						<div id="searchbox">
							<p>CHOOSE YOUR WORD: 

								</p>

						</div>
						<div class="moveover">
						<a href='word/awesome'class="btn">RANK IT!</a>
						</div>
					</div>
				
					<%- body %>

				</div>
				
				<div id="footer">
					<p>CHOOSE YOUR SEARCH TERM!</p>
					<p>CONSULT THE TWITTERVERSE!</p>
					<p>THE HIGHEST RANKED LINKS WILL BE REVEALED!</p>
				</div>

	
			<!-- </div> -->
		</div>
			
	
	</body>

</html>