<!-- awesome HTML by Rebekah David -->

<!DOCTYPE html>

<html>
	<head>
		<title>Rank-O-Matic!</title>
		<link href='/stylesheets/style.css' rel="stylesheet">

	</head>
	
	<body>
		<!-- <div id="container"> -->
			
			<div id="redcontainer">
				<div id="logo">
					<img src='/images/rankomaticlogofinal.png' height="150">
				</div>
				
				<div id="topcontainer">
					
					<%- body %>

				</div>
				
				<div id="footer">
					<p>CHOOSE YOUR SEARCH TERM!</p>
					<p>CONSULT THE TWITTERVERSE!</p>
					<p>THE HIGHEST RANKED LINKS WILL BE REVEALED!</p>
				</div>

	
			<!-- </div> -->
		</div>
			
	
	</body>

</html>